@import "variables";

.team-container {
  padding: 50px 30px 0;
  margin: auto;
  max-width: 2000px;
  background: $color-white;
}

h1 {
  font-weight: 600;

  small {
    font-weight: 300;
  }
}

h2,
h3,
h4 {
  font-weight: 400;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
}

.btn {
  min-width: 150px;
}

.listing .btn-group-vertical {
  margin-top: 15px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;

  // add extra item at the end of the list to left-align last row
  &::after {
    content: " ";
    flex: auto;
  }
}

.member {
  text-align: center;
  position: relative;
  max-width: 400px;
  margin: 0 auto 45px;

  h3 {
    font-weight: 600;
    color: $member-name-color;
    font-size: 16px;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    color: $color-gray;
    margin-bottom: 0;
    margin-top: 15px;

    a {
      color: $color-gray;
      font-weight: 600;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 200;
    color: $color-gray;
    margin: 0;

    a {
      color: $color-gray;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding: 0 15px;
  }

  li,
  a {
    color: $color-gray;
  }

  p {
    text-align: justify;
    margin-bottom: 0;
  }

  img {
    filter: grayscale(100%);
    border-radius: 50%;
  }

  .member-id {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $border-color;
  }

  &:hover,
  &:target {
    .member-id {
      border-color: $blog-color-purple;
    }
  }
}

.role {
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  background: $color-white;
  padding: 15px;

  figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .front {
    background: $color-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.member-header {
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    text-align: left;
  }
}

.extra {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  opacity: 0;
  padding: 15px;
  z-index: -1;
  background-color: $color-white;
  max-width: 440px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  transition: transform .2s ease-out, opacity .25s, z-index 0s linear .3s;

  .member:target & {
    box-shadow: 0 0 1px 1px $member-shadow-color;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 11;
    transition: transform .2s ease-out, opacity .2s;
  }

  .member-id {
    margin: 15px 15px 15px 0;
  }

  h3 {
    margin-top: 0;
  }

  img {
    filter: none;
  }
}

.close-modal {
  cursor: pointer;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.5em;
  color: $color-gray;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.bio {
  padding: 15px;
}

.pet {
  margin-bottom: 15px;
}

.team-head {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 50px;

  p {
    font-size: 17px;
    color: $team-content-color;
  }

  h1 {
    font-weight: 200;
  }
}

.social {
  margin-top: 10px;

  a {
    padding: 4px;
    text-decoration: none;
  }

  i {
    font-size: 31px;
    color: $member-social-color;
    transition: all .2s;

    &:hover {
      color: $color-primary;
    }
  }

  .gitlab-logo {
    width: 25px;
    height: 25px;
    transition: all .2s;

    &:hover * {
      fill: $color-primary;
    }
  }
}

.modal-overlay {
  background: $modal-overlay-color;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .3s, z-index 0s linear .3s;

  *:target ~ & {
    opacity: 1;
    z-index: 10;
    transition: opacity .3s;
  }
}

.teleport-thing {
  margin-top: 50px;
}
