// scss-lint:disable NestingDepth,SelectorDepth
.navbar-default {
  > .container {
    position: relative;
  }

  .navbar-collapse {
    @media (max-width: $screen-sm-max) {
      max-height: none;
      text-align: center;
    }
  }

  .navbar-brand {
    @media (min-width: $screen-md-min) {
      padding-right: 0;
      margin-right: -20px;
    }

    .wordmark {
      transition: fill .3s;
    }

    &:focus,
    &:hover {
      outline: 0;

      .wordmark {
        fill: $color-primary-alt;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;

    @media (min-width: $screen-md-min) {
      float: right;
    }

    > li {
      position: relative;

      &.open,
      &:hover {
        &::before {
          @media (min-width: $screen-md-min) {
            content: "";
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: -1px;
            height: $navbar-subnav-bar-height;
            background-color: $color-primary;
            z-index: 1001;
          }
        }
      }

      &:last-child {
        border-bottom: 2px solid $color-primary;

        @media (min-width: $screen-md-min) {
          border-bottom: 0;
        }
      }

      i {
        padding-left: 2px;
        font-size: 12px;
      }

      > a {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        cursor: pointer;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }

        @media (min-width: $screen-md-min) {
          padding: 15px 8px;
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .subnav {
        position: absolute;
        background: transparent;
        top: calc(100% - #{$navbar-subnav-bar-height} + 1px);
        left: 50%;
        transform: translateX(-50%);
        min-height: $navbar-subnav-bar-height;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          right: 50%;
          top: 0;
          height: 4px;
          background-color: $color-primary;
          transition: left $navbar-subnav-bar-duration ease-in, right $navbar-subnav-bar-duration ease-in;
        }

        > li {
          &:first-child {
            margin-top: 4px;
          }

          > a {
            color: $navbar-subnav-link-color;
            padding: 8px 32px;
            text-decoration: none;
            display: block;

            &:active,
            &:hover {
              color: $navbar-subnav-link-hover-color;
              background: transparent;
            }
          }
        }

        &.grow {
          &::before {
            left: 0;
            right: 0;
          }
        }

        &.collapsing,
        &.collapse.in {
          background-color: $navbar-subnav-bg;
          box-shadow: 0 1px 6px 0 $navbar-subnav-box-shadow;
        }

        &.collapse.in {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      @media (max-width: $screen-sm-max) {
        .subnav {
          position: relative;
          width: 100%;
          min-height: 0;
          text-align: center;

          &::before {
            background: transparent;
          }

          &.collapsing,
          &.collapse.in {
            box-shadow: inset 0 0 6px $navbar-subnav-box-shadow-inset;
            border-radius: 0;
          }
        }
      }
    }


    .sign-in-up-btn {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      color: $color-primary;
      font-weight: 600;

      @media (min-width: $screen-md-min) {
        margin-right: 11px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.is-last {
        @media (min-width: $screen-md-min) {
          margin-right: 0;
          margin-left: 11px;

          &::before {
            content: "";
            position: absolute;
            left: -12px;
            top: 50%;
            margin-top: -9px;
            width: 2px;
            height: 18px;
            background-color: $color-gray-light;
          }
        }
      }
    }
  }
}
// scss-lint:enable NestingDepth,SelectorDepth
